{% extends "base.html" %}

{% load bootstrap4 %}

{% block head_title %}
{{ obj.title}} | {{ block.super }}
{% endblock %}

{% block content %}

<div class="container">
    <h1 class='text-center'>{{title}}</h1>
    <div class="row">
        {% for obj in object_list %}

            <div class="col-sm-6">
            <div class="card text-center">
                <div class="card-body">
                    <br\><br\><br\><br\>
                    
                    <h3>{{ obj.name }}</h3>
                    
                    <p>Location:
                        {{ obj.location }}</p>
                    <p>Occupants:
                        {{ obj.occupants }}</p>

                    <a href="{% url 'main:join' obj.slug %}" class="btn btn-primary">Join</a>
                    
                </div>
            </div>
            </div>

        {% endfor %}
    </div>
</div>   

{% endblock %}