{% extends "base.html" %}

{% load bootstrap4 %}

{% block head_title %}
{{ obj.title}} | {{ block.super }}
{% endblock %}

{% block content %}

<div class ='col-sm-6 col-sm-offset-3'>
  <br\><br\><br\><br\>
    <h1>{{title}}</h1>
       
        {% for obj in object_list %}
         <div class="row">
            <div class="col-sm-12">
              <div class="thumbnail">
                <!-- {% if obj.image %}
                  <img src='{{ obj.image.url }}' class='img-responsive'/>
                {% endif %} -->
                <div class="caption">

                  <h3><a href='{{ obj.get_absolute_url }}'>{{ obj.name }}</a></h3>
                  <h3><a href='{{ obj.get_absolute_url }}'>{{ obj.location }}</a></h3>
                  <h3><a href='{{ obj.get_absolute_url }}'>{{ obj.occupants }}</a></h3>
                  <!-- <button type="button"> <a href='{{ obj.get_absolute_url }}' class ="btn btn-info">Read More</a></button> -->
                  
                </div>
              </div>
            </div>
            <hr/>
        </div>
        {% endfor %}

    </div>

{% endblock %}