{% extends "base.html" %}

{% load bootstrap4 %}

{% block head_title %}
{{ obj.title}} | {{ block.super }}
{% endblock %}

{% block content %}

<br/>
<div class="jumbotron">
    <h1 class='text-center'>{{title}}</h1>
</div>

<div class="container">
    <div class="row">
        {% for obj in object_list %}

            <div class="col-sm-6">
            <div class="card text-center">
                <div class="card-body">
                    <br\><br\><br\><br\>
                    <div class="thumbnail">
                        {% if obj.image %}
                          <img src='{{ obj.image.url }}' class="img-fluid"  width="260" height="236">
                        {% endif %}
                    <h3>{{ obj.name }}</h3>
                    
                    <p>Location:
                        {{ obj.location }}</p>
                    <p>Occupants:
                        {{ obj.members.count }}</p>

                    <a href="{% url 'main:join' obj.slug %}" class="btn btn-outline-primary">Join</a>
                </div>
                </div>
            </div>
            </div>

        {% endfor %}
    </div>
</div>   


{% endblock %}