<nav class="navbar navbar-expand-lg py-3 navbar-dark">
  <div class="container">
    <a href="#" class="navbar-brand">
      <!-- Logo Image -->
      <img src="https://lh3.googleusercontent.com/proxy/V22QdOQvuS1apDMGowFRNmQQdJKNs-X-UFo1pnoOAW2FgR74jPCEiboyjNFaWNs5BPJvWlOjmgP1EC8F4oFO6a5d_mwQ7qtByxdomBIG7KC73sCGMwEPZrxhQn69g86FqBjL" width="45" alt="" class="d-inline-block align-middle mr-2">
      <!-- Logo Text -->
      <span class="text font-weight-bold">HoodWatch</span>
    </a>

    <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"><span class="navbar-toggler-icon"></span></button>

    <div id="navbarSupportedContent" class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">

        <li class="nav-item active"><a href="{%url 'main:home'%}" class="nav-link">Home <span class="sr-only">(current)</span></a></li>

        {% if user.is_authenticated %}

        <li class="nav-item"><a href="{%url 'main:hoods'%}" class="nav-link">Hoods</a></li>
        <li class="nav-item"><a href="{%url 'main:create'%}" class="nav-link">New Hood</a></li>
        <li class="dropdown"><a class="dropdown-toggle nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="#">{{ user.username }}</a>
          <div class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation" href="{% url 'main:profile' %}">Profile</a><a class="dropdown-item" role="presentation" href="{%url 'accounts:logout'%}">Logout</a></div>
        </li>

        {% else %}

        </form><span class="navbar-text"> <a href="{%url 'accounts:login'%}" class="login">Log In</a></span>
        <br>
        <span class="navbar-text"> <a href="{%url 'accounts:signup'%}" class="signup" >Sign Up</a></span></div>

        {% endif %}

      </ul>
     
        <form method="GET" action="{% url 'main:search' %}">
          <input type="text" name="search_business" placeholder="Search Business" value="{{ request.GET.q }}"/>
          <input type="submit" value="Search"/>             
        </form>


    </div>
  </div>
</nav>
          
                